<% include layout/header.ejs %>
	<div class="text resb fadeIn animated">
	<center><a href="https://www.youtube.com/watch?v=kb8HwOKZWLs" class="a1" target="_blank">Первое видео</a></br>
	<a href="https://www.youtube.com/watch?v=zCKLAfcB87E" class="a1" target="_blank">Второе видео</a></br>
	<a href="https://www.youtube.com/watch?v=bLtwY7h7fRg" class="a1" target="_blank">Третье видео</a></br>
	<a href="https://www.youtube.com/watch?v=oQFBjxPg2p4" class="a1" target="_blank">Четвертое видео</a></br>
	<a href="https://www.youtube.com/watch?v=ApGVR7GthtM" class="a1" target="_blank">Пятое видео</a></br>
	<a href="https://www.youtube.com/watch?v=RA4t9Zm6sgc" class="a1" target="_blank">Шестое видео</a></br>
	<a href="https://www.youtube.com/watch?v=DAITDbZXOrg" class="a1" target="_blank">Седьмое видео</a></br><center>
</div>
</body>






</html>
