<% include layout/header.ejs %>
	<div class="text res fadeIn animated">
	<center>По итогам веб-квеста вы должны научиться решать задание №3 ЕГЭ по информатике типа "Поиск определеного маршрута по таблице (графы)"<center>
	</div>

</body>






</html>
