<% include layout/headerextended.ejs %>
<div class="text fadeIn animated">
  <div style="text-align: center">
    <img src="../public/imgs/404.jpg" class="dashasledopit"></br>
    Запрашиваемая страница не найдена
  </div>
</div>
