<% include layout/headerextended.ejs %>
<div class="text res fadeIn animated">
	Каждое правильно выполненное задание со страницы "Примеры заданий" дает 1 балл. Ниже представлена таблица оценки выполнения квеста относительно полученных баллов.
	<div id="cont3">
		<div class="table1">
			<table class="tableotv">

				<tr>
					<th class="th1">Количество баллов</th>
					<td id="st1" class="td1">0</td>
					<td id="st1" class="td1">1</td>
					<td id="st1" class="td1">2</td>
					<td id="st1" class="td1">3</td>
					<td id="st1" class="td1">4</td>
				</tr>
				<tr>
					<th class="th1">Оценка</th>
					<td id="vp0" class="td1">Материал не усвоен</td>
					<td id="vp1" class="td1">Материал не усвоен</td>
					<td id="vp2" class="td1">Материал не усвоен</td>
					<td id="vp3" class="td1">Материал усвоен</td>
					<td id="vp4" class="td1">Материал усвоен хорошо</td>
				</tr>
			</table>
		</div>
	</div>
	<div id="conta">Для получения дополнительной информации нажать на ячейку с интересующей Вас оценкой.</div>
</div>

</body>
