<% include layout/headerextended.ejs %>
	<div id="cont2">
		<div class="primer3 fadeIn animated">
			<div class="intoblock">
				<table class="table">
					<caption><b>Пример №3</b></caption>
					<tr>
						<td></td>
						<td class="zag">П1</td>
						<td class="zag">П2</td>
						<td class="zag">П3</td>
						<td class="zag">П4</td>
						<td class="zag">П5</td>
						<td class="zag">П6</td>
						<td class="zag">П7</td>
					</tr>
					<tr>
						<td class="zag">П1</td>
						<td class="empt"></td>
						<td>7</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П2</td>
						<td>7</td>
						<td class="empt"></td>
						<td>8</td>
						<td></td>
						<td>3</td>
						<td>4</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П3</td>
						<td></td>
						<td>8</td>
						<td class="empt"></td>
						<td>11</td>
						<td>6</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П4</td>
						<td></td>
						<td></td>
						<td>11</td>
						<td class="empt"></td>
						<td>5</td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П5</td>
						<td></td>
						<td>3</td>
						<td>6</td>
						<td>5</td>
						<td class="empt"></td>
						<td></td>
						<td>9</td>
					</tr>
					<tr>
						<td class="zag">П6</td>
						<td></td>
						<td>4</td>
						<td></td>
						<td></td>
						<td></td>
						<td class="empt"></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П7</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>9</td>
						<td></td>
						<td class="empt"></td>
					</tr>
				</table>
				<img src="../public/imgs/pic3.png"></img>
			</div>
			<p>На рисунке схема дорог изображена в виде графа, в таблице содержатся сведения о длине этих дорог в километрах.</p>
			<p>Так как таблицу и схему рисовали независимо друг от друга, то нумерация населённых пунктов в таблице никак не связана с буквенными обозначениями на графе.</p>
			<p>Определите длину дороги из пункта А в пункт Г. В ответе запишите целое число.</p>
			<p>ВНИМАНИЕ. Длины отрезков на схеме не отражают длины дорог.</p>
			<input type="number" placeholder="Введите ответ" id="input3" />
			<button id="btn3">Проверить ответ</button>
		</div>
		<div class="primer4 fadeIn animated">
			<div class="intoblock">
				<table class="table">
					<caption><b>Пример №4</b></caption>
					<tr>
						<td></td>
						<td class="zag">П1</td>
						<td class="zag">П2</td>
						<td class="zag">П3</td>
						<td class="zag">П4</td>
						<td class="zag">П5</td>
						<td class="zag">П6</td>
						<td class="zag">П7</td>
					</tr>
					<tr>
						<td class="zag">П1</td>
						<td class="empt"></td>
						<td>45</td>
						<td></td>
						<td>10</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П2</td>
						<td>45</td>
						<td class="empt"></td>
						<td></td>
						<td>40</td>
						<td></td>
						<td>55</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П3</td>
						<td></td>
						<td></td>
						<td class="empt"></td>
						<td></td>
						<td>15</td>
						<td>60</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П4</td>
						<td>10</td>
						<td>40</td>
						<td></td>
						<td class="empt"></td>
						<td></td>
						<td>20</td>
						<td>35</td>
					</tr>
					<tr>
						<td class="zag">П5</td>
						<td></td>
						<td></td>
						<td>15</td>
						<td></td>
						<td class="empt"></td>
						<td>55</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П6</td>
						<td></td>
						<td>55</td>
						<td>60</td>
						<td>20</td>
						<td>55</td>
						<td class="empt"></td>
						<td>45</td>
					</tr>
					<tr>
						<td class="zag">П7</td>
						<td></td>
						<td></td>
						<td></td>
						<td>35</td>
						<td></td>
						<td>45</td>
						<td class="empt"></td>
					</tr>
				</table>
				<img src="../public/imgs/pic4.png"></img>
			</div>
			<p>На рисунке схема дорог изображена в виде графа, в таблице содержатся сведения о длине этих дорог в километрах.</p>
			<p>Так как таблицу и схему рисовали независимо друг от друга, то нумерация населённых пунктов в таблице никак не связана с буквенными обозначениями на графе.</p>
			<p>Определите длину дороги из пункта В в пункт E. В ответе запишите целое число.</p>
			<p>ВНИМАНИЕ. Длины отрезков на схеме не отражают длины дорог.</p>
			<input type="number" placeholder="Введите ответ" id="input4" />
			<button id="btn4">Проверить ответ</button>
		</div>
	</div>
	<div id="cont3">
		<div class="table1">
			<table class="tableotv">

				<tr>
					<th class="th1">Пример №3</th>
					<td id="st3" class="td1"><span style="color:grey; opacity: 0.5">Ответ отсутствует</span></td>
				</tr>
				<tr>
					<th class="th1">Пример №4</th>
					<td id="st4" class="td1"><span style="color:grey; opacity: 0.5">Ответ отсутствует</span></td>
				</tr>
			</table>
		</div>
	</div>
	<div id="blockinline">
		<div id="href1">
			<a href="/primeri" class="a1">Предыдущая страница</a>
		</div>
	</div>



</body>

</html>
