<% include layout/headerextended.ejs %>
	<div id="cont2">
		<div class="primer1 fadeIn animated">
			<div class="intoblock">
				<table class="table">

					<caption><b>Пример №1</b></caption>
					<tr>
						<td></td>
						<td class="zag">П1</td>
						<td class="zag">П2</td>
						<td class="zag">П3</td>
						<td class="zag">П4</td>
						<td class="zag">П5</td>
						<td class="zag">П6</td>
						<td class="zag">П7</td>
						<td class="zag">П8</td>
					</tr>
					<tr>
						<td class="zag">П1</td>
						<td class="empt"></td>
						<td></td>
						<td></td>
						<td>37</td>
						<td></td>
						<td></td>
						<td></td>
						<td>23</td>
					</tr>
					<tr>
						<td class="zag">П2</td>
						<td></td>
						<td class="empt"></td>
						<td>25</td>
						<td></td>
						<td></td>
						<td>44</td>
						<td></td>
						<td>46</td>
					</tr>
					<tr>
						<td class="zag">П3</td>
						<td></td>
						<td>25</td>
						<td class="empt"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П4</td>
						<td>37</td>
						<td></td>
						<td></td>
						<td class="empt"></td>
						<td>34</td>
						<td></td>
						<td>42</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П5</td>
						<td></td>
						<td></td>
						<td></td>
						<td>34</td>
						<td class="empt"></td>
						<td>24</td>
						<td>28</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П6</td>
						<td></td>
						<td>44</td>
						<td></td>
						<td></td>
						<td>24</td>
						<td class="empt"></td>
						<td>29</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П7</td>
						<td></td>
						<td></td>
						<td></td>
						<td>42</td>
						<td>28</td>
						<td>29</td>
						<td class="empt"></td>
						<td>31</td>
					</tr>
					<tr>
						<td class="zag">П8</td>
						<td>23</td>
						<td>46</td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
						<td>31</td>
						<td class="empt"></td>
					</tr>
				</table>
				<img src="../public/imgs/get_file.png" style="width:100%; max-width: 100%; min-width: 100%;"></img>
			</div>
			<p>На рисунке схема дорог изображена в виде графа, в таблице содержатся сведения о длине этих дорог в километрах.</p>
			<p>Так как таблицу и схему рисовали независимо друг от друга, то нумерация населённых пунктов в таблице никак не связана с буквенными обозначениями на графе.</p>
			<p>Определите длину дороги из пункта Б в пункт Г. В ответе запишите целое число.</p>
			<p>ВНИМАНИЕ. Длины отрезков на схеме не отражают длины дорог.</p>
			<input type="number" placeholder="Введите ответ" id="input1" />
			<button id="btn1">Проверить ответ</button>

		</div>


		<div class="primer2 fadeIn animated">
			<div class="intoblock">
				<table class="table">


					<caption><b>Пример №2</b></caption>
					<tr>
						<td></td>
						<td class="zag">П1</td>
						<td class="zag">П2</td>
						<td class="zag">П3</td>
						<td class="zag">П4</td>
						<td class="zag">П5</td>
						<td class="zag">П6</td>
						<td class="zag">П7</td>
					</tr>
					<tr>
						<td class="zag">П1</td>
						<td class="empt"></td>
						<td></td>
						<td></td>
						<td>37</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П2</td>
						<td></td>
						<td class="empt"></td>
						<td>25</td>
						<td></td>
						<td></td>
						<td>44</td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П3</td>
						<td></td>
						<td>25</td>
						<td class="empt"></td>
						<td></td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td class="zag">П4</td>
						<td>37</td>
						<td></td>
						<td></td>
						<td class="empt"></td>
						<td>34</td>
						<td></td>
						<td>42</td>
					</tr>
					<tr>
						<td class="zag">П5</td>
						<td></td>
						<td></td>
						<td></td>
						<td>34</td>
						<td class="empt"></td>
						<td>24</td>
						<td>28</td>
					</tr>
					<tr>
						<td class="zag">П6</td>
						<td></td>
						<td>44</td>
						<td></td>
						<td></td>
						<td>24</td>
						<td class="empt"></td>
						<td>29</td>
					</tr>
					<tr>
						<td class="zag">П7</td>
						<td></td>
						<td></td>
						<td></td>
						<td>42</td>
						<td>28</td>
						<td>29</td>
						<td class="empt"></td>
					</tr>
				</table>
				<img src="../public/imgs/get_file1.png" class="img"></img>
			</div>
			<p>На рисунке схема дорог изображена в виде графа, в таблице содержатся сведения о длине этих дорог в километрах.</p>
			<p>Так как таблицу и схему рисовали независимо друг от друга, то нумерация населённых пунктов в таблице никак не связана с буквенными обозначениями на графе.</p>
			<p>Определите длину дороги из пункта Б в пункт E. В ответе запишите целое число.</p>
			<p>ВНИМАНИЕ. Длины отрезков на схеме не отражают длины дорог.</p>
			<input type="number" placeholder="Введите ответ" id="input2" />
			<button id="btn2">Проверить ответ</button>
		</div>
	</div>
<div id="cont3">
	<div class="table1">
		<table class="tableotv">

			<tr>
				<th class="th1">Пример №1</th>
				<td id="st1" class="td1"><span style="color:grey; opacity: 0.5">Ответ отсутствует</span></td>
			</tr>
			<tr>
				<th class="th1">Пример №2</th>
				<td id="st2" class="td1"><span style="color:grey; opacity: 0.5">Ответ отсутствует</span></td>
			</tr>
		</table>
	</div>
</div>
	<div id="blockinline">
		<div id="href1">
			<a href="/primer2" class="a1">Следующая страница</a>
		</div>
	</div>



</body>

</html>
