<% include layout/header.ejs %>
	<div class="quest fadeIn animated">

		<center><h1>Веб-квест</br>"Поиск определенного маршрута по таблице (графы)"</h1><br/>
		Данный веб-квест предназначен для освоения задания №3 ЕГЭ по информатике 2017<center>
	</div>



</body>
</html>
